<h1>Autores</h1>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Año</th>
            <th>#</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
        <% for autor in @autor  %>
         <tr>
            <td><%= autor.name %></td>
            <td><%= autor.string %></td>
            <td><%= autor.year %></td>
            <td>
                <a href="/autores/mostrar/<%= autor.id %>">Ver</a>
            </td>
            <td><a href="/autores/editar/<%= autor.id %>">Editar</a></td>
        </tr>
        <% end %>
    </tbody>
</table>
